.more {
  background-color: #353C65;
  padding: 50px 0;
}
  
.more-container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
  
.item {
  flex: 0 0 30%;color: #e0e0e0;
}
  
.item h2 {
  font-size: 24px;
}
  
.item p {
  font-size: 16px;
}

.app-icon {
  position: relative;
  display: inline-block;
  margin: 0;
}
  
.item a {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.facebook, .twitter, .in {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.0);
  border: 1px solid #ccc;
  text-decoration: none;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto; 
}

.facebook:hover {
  background-color: rgba(255, 255, 255, 0.0);
}

.twitter:hover{
  background-color: rgba(255, 255, 255, 0.0);
}

  .in:hover{
  background-color: rgba(255, 255, 255, 0.0);
}