
.integer-container {
    display: flex;
    align-items: center;
    grid-template-columns: repeat(2, 0fr); 
    grid-gap: 20px; 
    background-color: #5C3249; 
}
  
@media screen and (max-width: 700px) {
      .interger-container {
        grid-template-columns: repeat(1, 1fr); 
      grid-template-rows: repeat(2, auto); 
      }
}
  

  
 .image-i-container img {
    max-width: 80%;
    height: auto;
} 
  
.text-i-container {
    color: white;
    padding: 20px;
}
  
.text-i-container h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
  
.text-i-container p {
  text-align: center;
  font-size: 15px;
    margin-bottom: 20px;
}
  