.footer-container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  
}

.foot{
  background-color: #2C3154;
  color: #636363;
 padding: 10px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
